# Databricks notebook source
# DBTITLE 1,Ensure we can read yaml files
# MAGIC %pip install pyyaml inflection

# COMMAND ----------

# DBTITLE 1,Setup Widgets
dbutils.widgets.text("database", '', label="database")
dbutils.widgets.text("source", '',label="source")
dbutils.widgets.text("sourcetype", '',label="sourcetype")

# COMMAND ----------

# DBTITLE 1,Read Widgets
source=dbutils.widgets.get("source")
sourcetype=dbutils.widgets.get("sourcetype")
database=dbutils.widgets.get("database")

if source == '' or sourcetype == '' or database == '':
    raise Exception('please pass parameters to multi-task job, or fill out notebook widget values')

import databricks
import os
databricks.__path__.append(os.path.abspath("../../../../databricks"))

# COMMAND ----------
# DBTITLE 1,Set working directory to Sirens home
import os

sirens_home = spark.conf.get("sirens.home", None)

if sirens_home is not None:
  os.chdir(sirens_home)

# COMMAND ----------

# DBTITLE 1,Imports
import json
import delta
from databricks.sirens.datasource import DataSource
from databricks.sirens import connectors
from databricks.sirens import parsers
from databricks.sirens.expectations import Expectations
from databricks.sirens.logging import get_logger
logger = get_logger(__name__)

# COMMAND ----------

# DBTITLE 1,Create an Instance of DataSource and read config
dataSourceObj = DataSource(spark, database, source, sourcetype)
config = dataSourceObj.read()

# COMMAND ----------

from dataclasses import dataclass

@dataclass
class TableConf:
  database: str
  table_name: str
  config: dict

  def get_full_table_name(self):
    return f"{self.database}.{self.table_name}"

# COMMAND ----------

# DBTITLE 1,Build list of tables and configs
tables = [
  TableConf(database=database, table_name=dataSourceObj.bronze_table_name, config={}),
  TableConf(database=database, 
            table_name=dataSourceObj.silver_table_name, 
            config=dataSourceObj.get_table_config(dataSourceObj.silver_table_name))
]
for c in config["transforms"]["silver"]["event_type"]:
  table_name = c["target_table"] 
  tables.append(TableConf(
    database=database,
    table_name=table_name,
    config=dataSourceObj.get_table_config(table_name)
  ))

# COMMAND ----------

# DBTITLE 1,Enforce the retention policy
from databricks.sirens.maintenance.retention_policy import RetentionPolicy

for tbl in tables:
  retention_policy = RetentionPolicy.from_config(dataSourceObj.global_config, tbl.database, tbl.table_name)
  print(retention_policy)
  if retention_policy:
    retention_policy.enforce(spark)


# COMMAND ----------

# DBTITLE 1,Run maintenance on each table based on config
for tbl in tables:
  table_name = tbl.table_name
  logger.info(f"processing {tbl.database}.{tbl.table_name}")
  try:
    delta_table = delta.DeltaTable.forName(spark, tbl.database + "." + tbl.table_name)
  except :
    logger.error(f"Failed to find table {table_name}, skipping maintenance")
    continue
  table_config = tbl.config
  zorder_cols = table_config.get("zorder_cols", [])

  if len(zorder_cols) > 0:
    logger.info(f"Running zorder on {table_name} with {zorder_cols}")
    delta_table.optimize().executeZOrderBy(zorder_cols)
  logger.info(f"Running vacuum on {tbl.database}.{table_name}")
  delta_table.vacuum()
